.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e1e1e1;
}
.footer-item{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 3px;
}
.footer-item h2{
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-item p{
    font-size: 14px;
    line-height: 24px;
}
.footer-item span{
    color: #aaa;
    font-size: 14px;
    margin-top: 20px;
    display: block;
}
.footer-item a{
    color: #555;
    display: block;
    margin-bottom: 15px;
    font-size: 14px; 
    transition: 0.4s;   
}
.footer-item a:hover{
    color: #bac34e;
}
.footer-item img{
    margin-bottom: 30px;
}
.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    color: #555;
}
.footer-info span{
    color: #bac34e;
}
